.clickable {
    display: block;
    background: transparent;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 2px solid transparent;
}
.clickable.active,
.clickable:active {
    color: #fff;
}
.clickable:focus,
.clickable.focus {
    background-color: rgba(127, 127, 127, 0.2);
}

.clickable:active mark {
    color: inherit;
}
