@font-face {
    font-family: FreeMono;
    src: url(../../fonts/FreeMono.ttf);
    src: local('FreeMono'), url(../../fonts/FreeMono.ttf);
    font-weight: normal;
}

@font-face {
    font-family: FreeMono;
    src: url(../../fonts/FreeMonoBold.ttf);
    src: local('FreeMono Bold'), url(../../fonts/FreeMonoBold.ttf);
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: inherit;
    cursor: inherit;
    font: inherit;
    text-decoration: inherit;
    background: transparent;
    text-align: inherit;
    resize: none;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

*::-moz-focus-inner {
    padding: 0;
    border: 0;
}

html,
body {
    font: normal 16px/18px Arial, sans-serif;
    text-decoration: none;
    color: #000;
    cursor: default;
    text-align: left;
    min-width: 300px;
}
a, button {
    cursor: pointer;
}
b {
    font-weight: bold;
}
label {
    cursor: pointer;
}

code {
    font-family: FreeMono, monospace;
    font-weight: bold;
}

pre {
    font-family: FreeMono, monospace;
}
