.image_link {
    position: relative;
    height: 48px;
}
.image_link.withArrow {
    background-image: url(../../images/arrow.svg?23);
    background-repeat: no-repeat;
    background-position: 100% 50%;
}
.image_link.withArrow:active {
    background-image: url(../../images/arrow-active.svg?1);
}

.image_link-icon {
    position: absolute;
    top: 6px;
    left: 6px;
}

.image_link-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 44px;
    background-position: center;
    background-size: 100% 100%;
}

.image_link-content {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 46px;
    line-height: 44px;
    padding-right: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.image_link-content.withImage {
    left: 52px;
}
.image_link.withArrow .image_link-content {
    right: 24px;
}
