.page-text {
    padding: 15px 16px;
    word-wrap: break-word;
}
.page-infoText {
    padding: 15px 16px;
    font-size: 12px;
    line-height: 14px;
    color: #7f7f7f;
}
.page-info {
    line-height: 48px;
    color: #7f7f7f;
    text-align: center;
    font-style: italic;
}
.page-buttonLink {
    height: 48px;
    line-height: 44px;
    text-align: center;
    font-weight: bold;
}

.page-clockWrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100px;
    margin: auto;
    color: #ccc;
    font-family: FreeMono, monospace;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 48px;
}

#clockWrapper {
    margin-top: 16px;
    line-height: 16px;
}

.telLink {
    position: relative;
}
.telLink-tel {
    margin-right: 48px;
}
