.tab {
    position: relative;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.tab-bar {
    text-align: center;
    white-space: nowrap;
}

.tab-normal {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    font-weight: bold;
    max-width: 30%;
    padding-left: 14px;
    padding-right: 14px;
}
.tab-active.limited {
    max-width: 40%;
}
.tab-normal,
.tab-active {
    display: inline-block;
    vertical-align: top;
    line-height: 44px;
    border: 2px solid transparent;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tab-content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
