.thumbnails-item {
    display: inline-block;
    vertical-align: top;
    width: 250px;
}

@media (max-width: 355px) {
    .thumbnails-item {
        width: 50%;
    }
    .thumbnails-br.n2 {
        display: block;
    }
}

@media (min-width: 356px) and (max-width: 500px) {
    .thumbnails-item {
        width: 33%;
    }
    .thumbnails-item.wide_of_three {
        width: 34%;
    }
    .thumbnails-br.n3 {
        display: block;
    }
}

@media (min-width: 501px) and (max-width: 640px) {
    .thumbnails-item {
        width: 25%;
    }
    .thumbnails-br.n4 {
        display: block;
    }
}

@media (min-width: 641px) and (max-width: 790px) {
    .thumbnails-item {
        width: 20%;
    }
    .thumbnails-br.n5 {
        display: block;
    }
}

@media (min-width: 791px) {
    .thumbnails-item {
        width: 17%;
    }
    .thumbnails-item.narrow_of_six {
        width: 16%;
    }
    .thumbnails-br.n6 {
        display: block;
    }
}
