.twoColumns {
    position: relative;
}

.twoColumns-column1,
.twoColumns-column2 {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 50%;
}
.twoColumns-column2 {
    border-style: solid;
    border-color: rgba(127, 127, 127, 0.2);
    border-left-width: 1px;
}

@media (max-width: 440px) {
    .twoColumns-column1.dynamic,
    .twoColumns-column2.dynamic {
        display: block;
        width: auto;
    }
    .twoColumns-column2.dynamic {
        border-left-width: 0;
        border-top-width: 1px;
    }
}
